.header{
    height: 8vh;
}


.nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px 0px 50px;
}

.navList{
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.title{
    color: #fff;
    font-size: 24px;
}

.btnLink{
    background-color: #BFAFF2;
     /* #2B2B47; */
    color: #2B2B47;
    font-size: 20px;
    width: 175px;
    height: 50px;
    border-radius: 20px;
    border: none;
    
}

.btnLink a{
    text-decoration: none;
    color: inherit; /* opcional, para herdar a cor do texto pai */
}


.btnLink:hover{
    background-color: #2B2B47;
    color: #fff;
    width: 175px;
    height: 50px;
    border-radius: 20px;
    border: none;
}


.linkActive a{
    text-decoration: none;
    color: inherit; /* opcional, para herdar a cor do texto pai */
}




